table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a {
  text-decoration: none;
  color: inherit;
}
